@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Montserrat:wght@300&display=swap');

body {
  background-image: linear-gradient(rgb(76, 82, 163), rgb(248, 251, 24));
}

.list-group-item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
}
.navbar-brand {
  font-family: 'Exo 2', sans-serif;
}

#modal-container {
display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  display: grid;
  text-align: center;
}

.modal {
  background: rgb(236, 226, 170);
}

.btn-primary {
    border: none;
    background-color: rgb(255, 255, 255, 0.4);
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding: 10px;
    border-radius: 12px;
    display: inline-block;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3); 
  }
  .btn-primary:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  h1 {
    font-size: 40px;
    font-family: 'Exo 2', sans-serif;
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .voltorb {
    padding: 10px;
    margin: auto;
    display: block;
    width: 30%;
  }
  .pokemon-list li{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;

  }
  .logo {
    margin: auto;
    padding: 10px;
    display: block;
    width: 30%;
  }